@model IEnumerable<casasamaritanonorte.ViewModels.CampanhaViewModels>
@{
    ViewBag.Title = "Lista de campanhas";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dados dos Captadores</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                            <th>@Html.DisplayNameFor(model => model.Descricao)</th>

                            <th>Link</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                            <th>@Html.DisplayNameFor(model => model.Descricao)</th>

                            <th>Link</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Ativo || ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>

                                    @if (ViewBag.Captador != null)
                                    {
                                        <td>@Url.Action("Doacao", "Campanhas", new { Id = item.ID, IdCaptador = ViewBag.Captador.ID }, protocol: Request.Url.Scheme)</td>
                                    }
                                    else
                                    {
                                        <td>@Url.Action("Doacao", "Campanhas", new { Id = item.ID }, protocol: Request.Url.Scheme)</td>
                                    }

                                    <td>
                                        <a href="@Url.Action("Details", "Campanhas", new { id = item.ID })" class="btn btn-info btn-circle">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <span>|</span>
                                            <a href="@Url.Action("Edit", "Campanhas", new { id = item.ID })" class="btn btn-info btn-circle">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <span>|</span>
                                            <a href="#" data-id="@item.ID" class="btn btn-danger btn-circle delete" data-toggle="modal" data-target="#Excluir">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script>
    $(document).ready(function () {

        $('#dataTable').DataTable({
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });
    });


    $(".delete").click(function () {
        var id = $(this).attr("data-id");
        $("#form-excluir").prop('action', '@Url.Action("Delete", "Campanhas")/' + id);
        $("#Excluir").modal();
    });

</script>


<div class="modal fade" id="Excluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deseja realmente excluir esse registro?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Ao clicar em "Apagar Registro" a campanha será excluída.</div>
            <div class="modal-footer">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-excluir" }))
                {
                    @Html.AntiForgeryToken()
                    <input class="btn btn-primary" type="submit" value="Apagar Registro" />
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                }

            </div>
        </div>
    </div>

</div>