<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Casa de Repouso o Bom Samaritano</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Imagens/logo.png">
    <link rel="apple-touch-icon" href="~/Imagens/logo.png">
    <!-- Google font (font-family: 'Lobster', Open+Sans;) -->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
    @Styles.Render("~/Content/cssSite")

    @Scripts.Render("~/Vendor")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Stylesheets -->

    @Scripts.Render("~/bundles/scriptSite")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- <div class="fakeloader"></div> -->
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Header -->
        <header id="header" class="jnr__header header--2 clearfix">
            <!-- Start Header Top Area -->
            <div class="junior__header__top bg-image--5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 col-sm-12">
                            <div class="jun__header__top__left">
                                <ul class="top__address d-flex justify-content-start align-items-center flex-wrap flex-lg-nowrap flex-md-nowrap">
                                    <li><i class="fa fa-envelope"></i><span>Email: </span><a href="#">casaderepouso@gmail.com</a></li>
                                    <li><i class="fa fa-phone"></i><span>Telefone: </span><a href="#">(61) 98192-5127</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-6 col-sm-12">
                            <div class="jun__header__top__right">
                                <ul class="accounting d-flex justify-content-lg-end justify-content-md-end justify-content-start align-items-center3">
                                    <li><a href="@Url.Action("Login", "Account")">Entrar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top Area -->
            <!-- Start Mainmenu Area -->
            <div class="mainmenu__wrapper bg__cat--1 poss-relative header_top_line sticky__header bg--white">
                <div class="container">
                    <div class="row d-none d-lg-flex">
                        <div class="col-sm-4 col-md-6 col-lg-2 order-1 order-lg-1">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/Imagens/logo.png" alt="Casa de Repouso O Bom Samaritano">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-9 order-3 order-lg-2">
                            <div class="mainmenu__wrap">
                                <nav class="mainmenu__nav">
                                    <ul class="mainmenu">
                                        <li><a href="@Url.Action("Index", "Home")">Início</a></li>
                                        <li><a href="@Url.Action("About", "Home")">Sobre Nós</a></li>
                                        <li><a href="@Url.Action("Index", "Evento")">Eventos</a></li>
                                        <li><a href="@Url.Action("Galeria", "Home")">Galeria</a></li>
                                        <li><a href="@Url.Action("Doacao", "Campanhas")">Doações</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contato</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none mean-container">
                        <div class="mean-bar">
                            <a href="#nav" class="meanmenu-reveal arrowcolapse collapsed" data-toggle="collapse" style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <nav class="mean-nav">
                                <ul class="mainmenu panel-collapse collapse" id="nav">
                                    <li><a href="@Url.Action("Index", "Home")">Início</a></li>
                                    <li><a href="@Url.Action("About", "Home")">Sobre Nós</a></li>
                                    <li><a href="@Url.Action("Index", "Evento")">Eventos</a></li>
                                    <li><a href="@Url.Action("Galeria", "Home")">Galeria</a></li>
                                    <li><a href="@Url.Action("Doacao", "Campanhas")">Doações</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contato</a></li>
                                </ul>

                            </nav>
                        </div>
                        <div class="logo" style="height: 62px;width: 150px;">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/Imagens/logo.png" alt="Casa de Repouso O Bom Samaritano">
                            </a>
                        </div>

                    </div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Mainmenu Area -->


        </header>
        <!-- //Header -->
        <!-- Strat Conteudo Area -->
        @RenderBody()
        <!-- End Conteudo Area -->
        <!-- Footer Area -->
        <footer id="footer" class="footer-area footer--2">
            <div class="footer__wrapper poss-relative ftr__btm__image section-padding--lg bg--white">
            </div>

            <div class="footer__contact__area bg__cat--2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__contact__wrapper d-flex flex-wrap justify-content-between">
                                <div class="single__footer__address">
                                    <div class="ft__contact__icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="ft__contact__details">
                                        <p>Monte alto - Padre bernardo - GO</p>
                                        <p>Rua Filomena N° 13</p>
                                    </div>
                                </div>
                                <div class="single__footer__address">
                                    <div class="ft__contact__icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ft__contact__details">
                                        <p><a href="#">(61) 98192-5127</a></p>
                                        <p><a href="#">(61) 98192-5127</a></p>
                                    </div>
                                </div>
                                <div class="single__footer__address">
                                    <div class="ft__contact__icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ft__contact__details">
                                        <p><a href="#">aldenice@casaderepousosamaritanonorte.com</a></p>
                                        <p><a href="#">joaodomingos@casaderepousosamaritanonorte.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .End Footer Contact Area -->
            <div class="copyright  bg--theme">
                <div class="container">
                    <div class="row align-items-center copyright__wrapper justify-content-center">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="coppy__right__inner text-center">
                                <p>Copyright <i class="fa fa-copyright"></i> 2019 <a href="https://kelvimguidini.com/" target="_blank">Kelvim Santos Guidini</a> All rights reserved. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

    </div><!-- //Main wrapper -->
    <!-- JS Files -->

</body>
</html>