@model casasamaritanonorte.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>
    <div class="row">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "col-lg-12", role = "form" }))
        {
            @Html.AntiForgeryToken()


            <div class="col-lg-8">

                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Formulário de alteração de senha</h6>
                    </div>
                    <div class="card-body">

                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        <hr />

                        <button type="submit" class="btn btn-success btn-icon-split">

                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Salvar</span>
                        </button>

                    </div>
                </div>
            </div>


            <div class="col-lg-4">

            </div>
        }


    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}